# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Local configuration/secrets
.env
*.log
